[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
twine = "*"
codecov = "*"
coverage = "*"

[packages]
urllib3 = "*"
chardet = "*"
six = "*"

[requires]
python_version = "3.6"
